@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 83px;
    line-height: 66px;
    color:  black;

}
h2{
    font-size: 46px;
    line-height: 56px;
    color:  black;

}

h4{
    font-size: 23px;
    color: black;
    

}

h6{
    font-weight: 700;
    font-size: 15px;
    color: black;

}

p{
    font-size: 20px;
    color: black;
    margin: 15px 0 20px 0;

}

.section-p1 {
    padding: 40px 80px;

}
.section-m1{
    margin: 40px 0;

}
button.normal{
    font-size: 15px ;
    font-weight: 1000;
    padding: 15px 30px ;
    color: blueviolet;
    background-color: white ;
    border-radius: 25px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: 0.3s;
}
button.white{
    font-size: 16px ;
    font-weight: 700;
    padding: 2px 15px ;
    color: brown;
    background-color: transparent ;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid blanchedalmond;
    outline: none;
    transition: 0.3s;

}

body{
    width: 100%;

}

/* header */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    background: white;
    box-shadow: 0 5px 15px rosybrown;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
#navbar{
    display: flex;
    align-items: center;
    justify-self: center;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rosybrown;
    transition: 0.5s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: rgb(144, 98, 98);

}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(144, 98, 98);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}
/* main */
#main{
    background-image: url(img/laptop.jpg);
    height:86vh ;
    width: 100%;
    background-size: cover;
    background-position: top 20% right 0%;
    padding-left: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
    
}
#main h4{
    color: rgba(220, 23, 23, 0.684);
    padding-bottom: 4px;
    font-style: italic;
    font-family: cursive;
    width: 100%;
    font-weight: 1000;

}
#main h1{
    font-size: 80px;
    font-family: cursive;
    font-weight: 1000;
    font-style: italic;
    color:whitesmoke;
    width: 100%;
    height: 100px;
    padding-top: 15px;
}
#main h2{
    padding: 5px;
    color: #fff;
    font-family: cursive;
    font-weight: bolder;
}
#main p{
    color:black;
    padding: 5px;
    font-family: cursive;
    font-weight: bolder;

}
#main button{
    font-size: 20px;
    background-image: url(img/free\ shipping.jpg);
    background-color: transparent;
    width: 160px;
    border: 1px solid #cce7d0;
    border-radius: 15px;
    color: rosybrown;
    background-color: #fff ;
    padding:3px 27px 3px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 900;
}
#main button:hover{
    background-color: rosybrown;
    color: blanchedalmond;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(215, 176, 19, 0.03);
    border: 1px solid rgb(223, 212, 170);
    border-radius: 4px ;
    margin: 15px 0;
    font-family: cursive;
    font-weight: 400;


}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(225, 143, 10, 0.742) ;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;

}


#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: black;
    background-color: rgba(246, 240, 240, 0.97);
}
#feature .fe-box:nth-child(2) h6{
    background-color: rgb(235, 216, 167);
}

#feature .fe-box:nth-child(3) h6{
    background-color: rgb(251, 129, 129);
}
#feature .fe-box:nth-child(4) h6{
    background-color: rgb(244, 224, 114);
}
#feature .fe-box:nth-child(5) h6{
    background-color: rgb(132, 223, 244);
}

#product1{
    text-align: center;
}


#product1 h2{
    color: rosybrown;
    font-size: 80px;
    font-style: italic;
    font-family: cursive;
    width: 100%;
    padding-bottom: 20px;
    display: inline-block;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}



#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0; 
    border-radius: 25px;
    background-color: rgb(251, 238, 215);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(215, 176, 19, 0.03) ;
    margin: 15px 0;
    transform: 0.5s ease; 
    position: relative;
}

#product1 .pro:hover{ 
    box-shadow: 10px 10px 30px rgba(225, 143, 10, 0.742)
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .des span{
    color: rgb(255, 89, 0);
    font-size: 15px;
    font-weight: 700;

}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des h3{
    padding-top: 7px;
    color: burlywood;
    font-weight: 900;
}  

#product1 .pro .bag{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: white ;
    font-weight: 900;
    color: rgb(235, 216, 167);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/Bannar.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: cover;
}
#banner h4{
    color: azure;
    font-size: 36px;
    font-family: cursive;
    font-style: italic;
    font-weight: 700;
    

}
#banner h2{
    color: azure;
    font-size: 60px;
    padding: 10px 0;
    font-weight: 700;

}
#banner h2 span{
    color:yellow;
    font-family: cursive;
    font-style: italic;
    font-weight: 800;
}

#banner button:hover{
    background-color: blueviolet;
    color: whitesmoke;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: center; */
    background-image: url(img/poster/laptop.jpeg);
    background-repeat: no-repeat;
    min-width: 45%;
    height: 40vh;
    background-size: cover;
    background-position: cover;
    padding: 30px;

}

#sm-banner .banner-box2{
    background-image: url(img/poster/headset.jpg);
}

#sm-banner h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: white;
}
#sm-banner h2{
    font-family: cursive;
    font-style: italic;
    font-weight: 1000;
    color: white;
}
#sm-banner span{
    color: white;
    font-weight: 400;
    font-style: italic;
    
}
#sm-banner .banner-box:hover button{
    background: white;
    border: 1px solid white;
}
#update-signin{
    height: 160px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: blanchedalmond;

}
#update-signin h4{
    font-size: 35px;
    font-weight: 700;
    color: brown;
}
#update-signin p{
    font-size: 15px;
    font-weight: 500;
    color: #000;
}
#update-signin p span{
    font-size: 20px;
    font-family: cursive;
    font-style: bold;
    font-style: italic;
    color: rgb(70, 34, 200);
}


#update-signin .from{
    align-items: center;
    display: flex;
    width: 40%;

}
#update-signin input{
    height: 3.15rem;
    padding: 0 1.25rem;
    font-size: 15px;
    width: 100% ;
    border: 1px solid transparent ;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}
#update-signin button{
    background-color:rgb(248, 142, 4) ;
    color: #fff;
    white-space: nowrap;
    /* width: 20px; */
    height: 50px;
    border-radius: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}
footer .Logo{
    margin-bottom: 30px;
    width: 115px;
    height: 125px;
}
footer h4{
    font-size: 24px;
    padding-bottom: 20px;
}
footer p{
    font-size: 18px;
    margin: 0 0 8px 0;

}
footer a {
    font-size: 18px;
    text-decoration: none;
    margin: 10px;

}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    padding-right: 4px;
    cursor: pointer;
    
}
footer .install .row img{ 
    border: 1px solid #080808;
    border-radius: 6px;

}
footer .install img{
    margin: 10px 0 15px 0 ;

}
footer .follow i:hover{
    font-size: 22px;

}
footer a:hover{
    color: burlywood;
    font-size: 20px;
}
footer .copyright{
    width: 100%;
    text-align: center;
}

/* shop page */
#shop-page{
    background-image: url(img/shop/shop\ \ page\ header.jpeg);
    Width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}
#shop-page h2,
#shop-page p{
    color: #fff;
    font-weight: 900;
    
}
#pagination{
    text-align: center;

}
#pagination a{
    text-decoration: none;
    background-color:#088178;
    padding: 15px 20px;
    border-radius: 4px;
    color:#fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
   


/* single product */
#deatails{
    display: flex;
    margin-top: 20px;
}


#deatails .product-image{
    width: 40%;
    margin-right: 50px;

}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#deatails .product-details{
    width: 50%;
    padding-top: 10px;
}

#deatails .product-details h4{
    padding: 5px 0 20px 0;
}
#deatails .product-details h2{
    padding: 5px 0 20px 0;
}
#deatails .product-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}
#deatails .product-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
     
}
#deatails .product-details input:focus{
    outline: none;
}
#deatails .product-details span{
    line-height: 25px;
}


#deatails .product-details button{
    background: rosybrown;
    color: blanchedalmond;
}

 




/* about page */



/* contact us page */







/* media quary */
@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: antiquewhite;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.266);
        padding: 80px 0 0 10px;
        transition: 0.3s ease;



    }
    #navbar.active{
        right: 0px;

    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: rosybrown;
        font-size: 25px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: rosybrown;
    }
    #lg-bag{
        display: none;
    }

    #main {
        height: 60vh;
        padding: 0 80px;
        background-position: top 30%  right 30%;
        align-items: start;
    }
    #feature {
        justify-content: center;

    }
    #feature .fe-box {
        
        margin: 15px 15px;
        
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner h2 {
        font-size: 40px;
        padding: 10px 0;
        font-weight: 700;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 15px;

    }
    #update-signin {
        height: 20vh;
        
    }
    #update-signin p {
        font-size: 15px;
        font-weight: 500;
        color: #000;
    }
    #update-signin .from {
        width: 70%;
    }
    .section-p1 {
        padding: 20px 20px;
    }


}

@media (max-width:477px) {
    #main {
        height: 50vh;
        padding: 0 5px;
        align-items: start;

    }
    #main h4{
        font-size: 15px

    }
    #main h2 {
        font-size: 25px;
    }
    #main h1 {
        font-size: 50px;
        line-height: 50px;
        padding-bottom: 0;
        text-align: start;
    }
    #main p {
        font-size: 20px;
        padding: auto;
    }
    #feature {
        justify-content: space-evenly;
        

    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 h2 {
        font-size: 40px;
        
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
        width: 100%;
    }
    #update-signin {
        height: 40vh;
    }
    #update-signin .from {
        
        width: 100%;
        
    }

    /* single product */
    #deatails {
        display: flex;
        flex-direction: column;
    }
    #deatails .product-image {
        width: 100%;
        margin-right: 0px;
    }
    #deatails .product-details {
        width: 100%;
        padding-top: 10px;
    }
    
}